.email-input {
  width: 500px;
  height: 50px;
  border: 0;
  box-shadow: 0 0 20px #dadada;
  padding-left: 15px;
  outline: none;
  font-size: 14px;
}

.email-input::placeholder {
  color: #b9b9b9;
}

.email-input:focus {
  box-shadow: 0 0 20px #a9a9ff;
}

.started-btn {
  border-radius: 3px;
  position: absolute;
  right: 5px;
  background-image: linear-gradient(125deg, #1ad4bf, #09b1e7);
  color: white !important;
  font-size: 14px;
  padding: 7px 20px;
  border: 0;
}
.design-form {
  position: relative;
  width: 500px;
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.container {
  margin-bottom: 50px;
}
