.card:hover{
  border: 5px solid #4CE7C8; 
}
/* .order-button{
  border-radius: 15px 0px 20px 0px;
  background-image: linear-gradient(125deg, #16cbca, #2ebceb);
  padding: 8px 20px;
  opacity: 0;
  transition: .3s;
} */
.team-hr {
  width: 200px;
  transition: all 0.5s ease;
  background: #3cedce;
}
.card:hover .team-hr {
  width: 0;
  transition: all 0.5s ease;
}