

 .achievement{
  background-color: #FAFFFD;
}
.achievement-card{
  background-color: #fff;
}
.achievement-card:nth-child(1), .achievement-card:nth-child(4){
  border: none;
  border-radius: 0 50px 0 50px;
}
.achievement-card:nth-child(2), .achievement-card:nth-child(3){
  border: none;
  border-radius: 50px 0 50px 0;
}

.achievement-card{
  background: #fff;
  border-radius: 0px 55px 0px 50px;
  box-shadow: 25px 0px 30px 0px lightgrey;
}
.achievement-card:hover{
  border:none;
  background: linear-gradient(125deg, #02A2F8 0%, #28F29C 100%);
  cursor: pointer;
}
.achievement-card:hover img{
  filter: brightness(100%);
}
.achievement-card:hover .achievement-text{
  color:white!important;
}