.brand-logo {
  width: 125px;
}
.nav-link {
  color: #263f44;
  font-size: 16px;
  font-family: Montserrat-Bold;
}
.active {
  font-weight: 700;
}

.contact-button {
  border-radius: 15px 0px 20px 0px;
  background-image: linear-gradient(125deg, #16cbca, #2ebceb);
  padding: 8px 20px;
  border: 0px;
}

.contact-button:hover {
  background-image: linear-gradient(125deg, #16cbca, #2ebceb);
}
